@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: linear-gradient(to right bottom, rgb(155, 240, 255), rgb(155, 54, 146));
    height: 100vh;
}

form {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    padding: 20px 30px;
    width: 350px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);

}

.botao-x {
    text-align: right;
    font-size: 22px;
    padding-bottom: 5px;
}

.titulo {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 20px;
}

form > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;   
}

form > div > label {
    font-size: 18px;
    font-weight: bold;
    color: gray;
}

form > div > input {
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    
}

.esqueceu-senha {
    text-decoration: none;
    color: rgb(133, 169, 247);
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 30px;   
}

.botao-login {
    background: linear-gradient(to right, rgb(155,240,255), rgb(155,54,146));
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.botao-login:hover {
    box-shadow: 0 0 4px 0px black;
    cursor: pointer;
}
 .nao-membro {
    text-align: center;
    margin-top: 40px;
    color: rgb(77, 77, 77);
 }

 .inscreva_se-agora {
    text-decoration: none;
    color: rgb(133, 169, 247);
    font-size: 16px;
    font-weight: bold;
 }